<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <!-- <%-include('common/Nav')-%> -->
    <%-include('common/NewNav')%>
    <div class="login-page">
      <h1>Login Page</h1>
      <form action="" method="POST">
        <input type="email" name="email" /><br /><br />
        <input type="password" name="password" /><br /><br />
        <button type="submit">Login</button>
      </form>
    </div>

    <%-include('common/Footer')-%>
  </body>
</html>
