<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .nav{
        box-shadow: 0 0 5px #000;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 20px;
    }
    .nav li{
        margin: 1.2em;
        list-style: none;
    }
    .nav li a{
        color: #888;
        text-decoration: none;
    }

    .nav li a:hover{
        text-decoration: underline;
        color: #1286a9;
    }
</style>
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile/Nishant">Profile</a></li>
</ul>