<link rel="stylesheet" href="../assets/css/style.css">
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile/Nishant">Profile</a></li>
</ul>